@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,100);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

body {
  display: flex;
  min-height: 0;
  flex-direction: column;
}

a {
  text-decoration: none;
}

header {
  height: 50px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: 18px;
    line-height: 50px;
    color: #ccc;
    padding-left: 30px;
  }
  .github-link {
    color: #fff;
    margin-right: 20px;
  }
}

.container {
  display: flex;
  flex-grow: 1;
  min-height: 0;
  flex-direction: row;
}

.input-textarea {
  box-sizing: border-box;
  flex: 1;
  display: block;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #333;
  padding: 20px;
}

.output-container {
  box-sizing: border-box;
  padding: 0 20px;
  flex: 1;
  overflow-y: auto;
  background-color: #f3f3f3;

  .html-output {
    margin-top: 10px;
    margin-bottom: 10px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }
    table {
      border-collapse: collapse;
      border-left: 1px solid;
      border-top: 1px solid;
    }
    th,
    td {
      padding: 5px 10px;
      border-right: 1px solid;
      border-bottom: 1px solid;
    }
    th {
      background-color: #ccc;
    }
    code:not(.hljs) {
      background-color: #ccc;
      font-size: 0.85em;
      display: inline-block;
      padding: 0 3px;
      line-height: 1.2;
      border-radius: 4px;
    }
    del {
      color: #dc143c;
    }
    pre {
      overflow-x: auto;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      code {
        background: none;
      }
    }
    .task-list-item {
      list-style-type: none;
      input {
        margin-left: -1.3em;
      }
    }
    blockquote {
      color: rgba(0, 0, 0, 0.5);
      padding-left: 1.5em;
      border-left: 5px solid rgba(0, 0, 0, 0.1);
      margin: 1.2em 0;
    }
    .footnotes {
      padding-top: 10px;
      border-top: 5px solid #ccc;
      padding-left: 30px;
    }
  }

  > pre {
    line-height: 1.3;
  }
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  padding: 10px 20px 30px 20px;
  background-color: #333;
  color: #eee;
  .group-title {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .footer-left {
    flex-grow: 1;
    .input-options {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      flex-wrap: wrap;

      label {
        display: block;
        padding-right: 10px;
        color: #f16262;
        &.checked {
          color: #3fc217;
        }
      }
    }
  }
  .footer-right {
    flex-grow: 0;
    .output-options {
      width: 150px;
      label {
        display: block;
        color: #999;
        &.checked {
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}
